
body {
    background-color: #eaea0e !important; /* Azul Bootstrap */
    color: #ffffff; /* Texto claro */
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}


nav.navbar {
    background-color: #0d6efd !important;
}

#inicio {
    background-color: #5394f5; 
    padding: 80px 0;
    text-align: center;
}

#habilidades {
    background-color: #eaea0e !important; 
    color: #212529;
}

#proyectos {
    background-color: #5394f5 !important; 
    color: #212529;
}

#contacto {
    background-color: #868b90 !important; 
    color: #212529;
}

footer {
    background-color: #000000 !important;
    color: #ffffff;
}

/* Imagen de perfil */
#inicio img {
    max-width: 200px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-bottom: 20px;
}

.card {
    background-color: #eaea0e !important; /* Elegí un celeste claro como ejemplo */
    color: #212529; /* Texto oscuro para buen contraste */
}

.card-img-top {
    max-height: 50%;
    object-fit: cover;
  }